<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Mudança</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
    <ion-row>
      <ion-col size="12" size-Md="2">
        <ion-badge  >
          <ion-label>Segunda-Feira</ion-label>
        </ion-badge>
      </ion-col>
      <ion-col size="6" size-Md="5">
        <ion-item>
        <ion-label>Hora início</ion-label>
        <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-Md="5">
        <ion-item>
          <ion-label>Hora Fim</ion-label>
          <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-Md="4" >
        <ion-badge>
          <ion-label>Terça-Feira</ion-label>
        </ion-badge>
      </ion-col>
      <ion-col size="6" size-Md="4" >
        <ion-item>
        <ion-label>Hora início</ion-label>
        <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-Md="4">
        <ion-item>
          <ion-label>Hora Fim</ion-label>
          <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-Md="4" >
        <ion-badge>
          <ion-label>Quarta-Feira</ion-label>
        </ion-badge>
      </ion-col>
      <ion-col ssize="6" size-Md="4" >
        <ion-item>
        <ion-label>Hora início</ion-label>
        <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-Md="4">
        <ion-item>
          <ion-label>Hora Fim</ion-label>
          <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-Md="4" >
        <ion-badge>
          <ion-label>Quinta-Feira</ion-label>
        </ion-badge>
      </ion-col>
      <ion-col size="6" size-Md="4" >
        <ion-item>
        <ion-label>Hora início</ion-label>
        <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-Md="4">
        <ion-item>
          <ion-label>Hora Fim</ion-label>
          <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-Md="4" >
        <ion-badge>
          <ion-label>Sexta-Feira</ion-label>
        </ion-badge>
      </ion-col>
      <ion-col size="6" size-Md="4" >
        <ion-item>
        <ion-label>Hora início</ion-label>
        <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-Md="4">
        <ion-item>
          <ion-label>Hora Fim</ion-label>
          <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-Md="4" >
        <ion-badge>
          <ion-label>Sabado</ion-label>
        </ion-badge>
      </ion-col>
      <ion-col size="6" size-Md="4" >
        <ion-item>
        <ion-label>Hora início</ion-label>
        <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-Md="4">
        <ion-item>
          <ion-label>Hora Fim</ion-label>
          <ion-datetime displayFormat="HH"  pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Termo de mudança</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>


</ion-content>
