ion-col{
 
  
}
#tableGrid ion-row {
    border-bottom: 1px solid #ddd;
    padding: 5px 5px;
    margin: -5px -5px 0px -5px;
  }
  
  .tableHeader {
    background-color: #ddd;
    margin: -5px -5px 0px -5px;
    
  }
  
  .tableHeader ion-col {
    font-weight: bold;
  }
  
  @media(max-width: 768px){
    .tableHeader{
      display:none;
    }
    .addTitle{
      display: none;
    }
  }
 